node_modules/
.expo/
dist/
web-build/
server_dist/
.git/
.local/
.cache/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.pem
.env*.local
*.tsbuildinfo
.vercel
.env
patches/
scripts/
