entrypoint = "README.md"
modules = ["nodejs-22", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["zip"]

[deployment]
deploymentTarget = "autoscale"
build = ["sh", "-c", "npm run expo:static:build && npm run server:build"]
run = ["npm", "run", "server:prod"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 8083
externalPort = 3000

[env]
PORT = "5000"

[agent]
stack = "EXPO"
integrations = ["javascript_gemini_ai_integrations:2.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start App"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Frontend"

[[workflows.workflow]]
name = "Start App"
author = "agent"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Backend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Frontend"

[[workflows.workflow]]
name = "Start Backend"
author = "agent"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run server:dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Start Frontend"
author = "agent"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "CI=1 npm run expo:dev"

[workflows.workflow.metadata]
outputType = "console"

[userenv]

[userenv.development]
PORT = "8081"

[userenv.production]
PORT = "8081"

[userenv.shared]
EXPO_PUBLIC_FIREBASE_PROJECT_ID = "crud-ae9d9"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN = "crud-ae9d9.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET = "crud-ae9d9.firebasestorage.app"

[objectStorage]
defaultBucketID = "replit-objstore-744ef2e8-1b04-48ff-a81a-df6594af2930"
